[Desktop Entry]
Encoding=UTF-8
Name=Corebird
GenericName=Corebird Twitter client
Comment=Twitter client using GTK3
Exec=corebird-diddledan.corebird
Icon=${SNAP}/usr/share/icons/hicolor/256x256/apps/corebird.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Application;Social
Mimetype=application/corebird;
